.landing__text--section {
  font-family: "Homenaje";
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  line-height: 151.1%;
  text-align: center;
  color: #ff6b71;
  width: 528px;
  height: 302px;
  margin: auto;
  margin-bottom: -50px;
}
.time-text {
  color: white;
  font-size: 72px;
}

.landing {
  text-align: center;
  margin-bottom: 150px;
}

.landing__text--virtual {
  font-family: "Homenaje";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 39px;
  text-align: center;
  padding-bottom: 40px;

  color: #ff6b71;
}

.timer {
  display: flex;
  text-align: center;
  justify-content: center;
}
.timer-style {
  display: grid;
  margin-right: 30px;
  grid-row-gap: 10px;
}
.timer-style1 {
  display: grid;
}

.timer-box {
  display: flex;
  font-family: "Homenaje";
}

.box1 {
  background-color: #2f1728;
  margin-right: 10px;
  width: 60px;
  height: 90px;
  border-radius: 10px;
}
.box2 {
  background-color: #2f1728;
  width: 60px;
  height: 90px;
  border-radius: 10px;
}
.lower-img {
  position: absolute;
  text-align: right;
  top: 450px;
  right: 0px;
}
.hindi-img {
  height: 100%;
}
.upper-img {
  position: absolute;
  text-align: left;
  top: 150px;
  left: 30px;
  height: 40%;
}
.english-img {
  height: 100%;
}
.border-line {
  position: absolute;
  width: 450px;
  height: 0px;
  left: -55px;
  top: 0px;

  border: 1px solid #2f1728;
  transform: rotate(90.1deg);
  background-color: #2f1728;
  z-index: 10;
}
.border-line2 {
  position: absolute;
  width: 925px;
  height: 0px;
  border: 1px solid #2f1728;
  transform: rotate(90.1deg);
  background-color: #2f1728;
  z-index: 10;
  right: -350px;
  top: 0px;
}

@media only screen and (max-width: 1280px) {
  .upper-img {
    left: -10px;
    height: 30%;
    top: 103px;
  }
  .border-line {
    width: 300px;
    left: -75px;
  }
  .lower-img {
    left: -10px;
    height: 30%;
    top: 600px;
  }
  .border-line2 {
    width: 1214px;
    right: -546px;
  }
}

@media (max-width: 800px) {
  .landing {
    width: 100%;
  }

  .landing__text--section {
    font-size: 130px;
    line-height: 80.1%;
    width: 400px;
    height: 190px;
    margin: auto;
    text-align: center;
    /* margin-bottom: -10px; */
  }
  .landing__text--virtual {
    display: none;
  }

  .time-text {
    font-size: 36px;
  }
  .box1 {
    margin-right: 10px;
    width: 30px;
    height: 45px;
    border-radius: 10px;
  }
  .box2 {
    width: 30px;
    height: 45px;
    border-radius: 10px;
  }

  .lower-img {
    top: 545px;
    right: 0px;
  }
  .hindi-img {
    height: 155px;
    width: 160px;
  }
  .upper-img {
    position: absolute;
    text-align: left;
    top: 69px;
    left: 0px;
    height: 23%;
  }

  .main-section {
    padding-top: 150px;
  }
  .border-line {
    width: 220px;
    height: 0px;
    left: -39px;
    top: 0px;
  }
  .border-line2 {
    width: 1100px;
    height: 0px;
    right: -499px;
    top: 0px;
  }
  .handle-section {
    padding-top: 60px;
  }
}

@media (max-width: 600px) {
  .landing__text--section {
    font-size: 100px;
    width: 270px;

    height: 100px;
    padding-left: 20px;

    text-align: left;
  }
  .box1 {
    margin-right: 1px;
    width: 30px;
    height: 40px;
    border-radius: 5px;
  }
  .box2 {
    width: 30px;
    height: 40px;
    border-radius: 5px;
  }

  .time-text {
    font-size: 36px;
  }
  .time-content {
    font-size: 0.5rem;
  }
  .timer-box {
    margin-right: -1px;
  }
  .lower-img {
    top: 390px;
    right: 0px;
  }
  .hindi-img {
    height: 120px;
    width: 130px;
  }
  .upper-img {
    position: absolute;
    text-align: left;
    top: 80px;
    left: 0px;
  }
  .english-img {
    height: 120px;
    width: 130px;
  }
  .main-section {
    padding-top: 150px;
  }
  .border-line {
    width: 200px;
    height: 0px;
    left: -40px;
    top: 0px;
  }
  .border-line2 {
    width: 780px;
    height: 0px;

    right: -380px;
    top: 0px;
  }
  .handle-section {
    display: none;
  }
  .timer {
    padding-left: 30px;
  }
  .timer-style {
    margin-right: 15px;
  }
}
