.heading {
  font-family: "Homenaje";
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 144.6%;
  /* identical to box height, or 145px */

  text-align: center;

  color: #ff6b71;
}

.Loader-Container{
  margin: 0 50%;
}
@media (max-width: 800px) {
  body {
    /* padding-left:  80px; */
    overflow-x: hidden;
  }
  .heading {
    padding-left: 100px;
  }
}
@media (max-width: 650px) {
  body {
    overflow-x: hidden;
    /* text-align: center; */
    /* padding-left:  80px; */
  }
  .heading {
    padding-left: 0;
    font-size: 56px;
  }
}
