.card {
  background-image: url("../../Assets/Asssset 2 3.png");
  width: 750px;
  height: 650px;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  margin: auto;
  text-align: center;
}
.card-main {
  width: 600px;
  height: 497px;
  padding-top: 100px;
}
.card-img {
  width: 600px;
  height: 600px;
  text-align: center;
  margin: auto;
}
.card-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 46px;
  /* identical to box height */
  color: #2f1728;
  padding-left: 150px;
}
.card-content {
  font-family: "Manrope";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  padding-left: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #2f1728;
}
.sub-heading {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  padding-left: 150px;
  color: #2f1728;
}
.content-styles {
  font-family: Manrope;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  color: #2f1728;
}
.content1 {
  padding-left: 100px;
}
.content2 {
  padding-left: 140px;
}
.content3 {
  padding-left: 72px;
}
.content4 {
  padding-left: 110px;
}
.content5 {
  padding-left: 75px;
}
.content6 {
  padding-left: 110px;
}
.card-styles {
  display: flex;
  padding-bottom: 20px;
}
.content {
  position: absolute;
  font-family: "Manrope";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  padding-left: 300px;
  color: #2f1728;
}
.button {
  display: flex;

  padding-top: 20px;
}
.button1 {
  padding-left: 160px;
}
.button2 {
  padding-left: 100px;
}

@media (max-width: 800px) {
  .card {
    width: 600px;
  }
  .button1 {
    padding-left: 100px;
  }
  .button2 {
    padding-left: 40px;
  }
}
@media (max-width: 650px) {
  .card {
    width: 100%;
    height: max-content;
    padding:0;
    padding-top: 10px;
    margin-bottom: 25px;
  }
  .card-main {
    width: 100%;
    height: max-content;
    padding-top: 25px;
  }
  .button1 {
    padding-right: 80px;
    padding-left: 100px;
  }
  .button2 {
    padding-left: 90px;
    padding-right: 80px;
  }
  .card-heading {
    font-size: 25px;
    line-height: 23px;
    padding-left: 85px;
  }
  .card-content {
    line-height: 16px;
    font-weight: normal;
    padding-left: 95px;
    padding-right: 5px;
    text-align: left;
  }
  .sub-heading {
    padding-left: 115px;
    font-size: 12px;
  }
  .card-styles {
    padding-bottom: 5px;
  }
  .content {
    font-size: 12px;
    line-height: 20px;
    /* identical to box height */
    padding-left: 0px;
  }
  .button {
    display: grid;
    padding-bottom: 10px;
  }
  .content-styles {
    font-family: Manrope;
    font-style: normal;
    font-size: 14px;
    line-height: 25px;
    color: #2f1728;
  }
  .content1 {
    padding-left: 40px;
  }
  .content2 {
    padding-left: 65px;
  }
  .content3 {
    padding-left: 20px;
  }
  .content4 {
    padding-left: 45px;
  }
  .content5 {
    padding-left: 23px;
  }
  .content6 {
    padding-left: 45px;
  }
}
